TTTwebserviceClient/xml-resources/web-service-references/TTTwebservice/wsdl/localhost_8080/WebserviceTTTService/TTTwebservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="WebserviceTTTService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/WebserviceTTTService/TTTwebservice?xsd=1"/>
</xsd:schema>
</types>
<message name="sucheVeranstaltungNachKriterien">
<part name="parameters" element="tns:sucheVeranstaltungNachKriterien"/>
</message>
<message name="sucheVeranstaltungNachKriterienResponse">
<part name="parameters" element="tns:sucheVeranstaltungNachKriterienResponse"/>
</message>
<message name="getAlleFreieKartenNachKategorie">
<part name="parameters" element="tns:getAlleFreieKartenNachKategorie"/>
</message>
<message name="getAlleFreieKartenNachKategorieResponse">
<part name="parameters" element="tns:getAlleFreieKartenNachKategorieResponse"/>
</message>
<message name="getKategorieInfoVonVeranstaltung">
<part name="parameters" element="tns:getKategorieInfoVonVeranstaltung"/>
</message>
<message name="getKategorieInfoVonVeranstaltungResponse">
<part name="parameters" element="tns:getKategorieInfoVonVeranstaltungResponse"/>
</message>
<message name="verkaufSpeichern">
<part name="parameters" element="tns:verkaufSpeichern"/>
</message>
<message name="verkaufSpeichernResponse">
<part name="parameters" element="tns:verkaufSpeichernResponse"/>
</message>
<message name="getKategorieInfo">
<part name="parameters" element="tns:getKategorieInfo"/>
</message>
<message name="getKategorieInfoResponse">
<part name="parameters" element="tns:getKategorieInfoResponse"/>
</message>
<message name="getVeranstaltungById">
<part name="parameters" element="tns:getVeranstaltungById"/>
</message>
<message name="getVeranstaltungByIdResponse">
<part name="parameters" element="tns:getVeranstaltungByIdResponse"/>
</message>
<portType name="TTTwebservice">
<operation name="sucheVeranstaltungNachKriterien">
<input wsam:Action="http://webservice/TTTwebservice/sucheVeranstaltungNachKriterienRequest" message="tns:sucheVeranstaltungNachKriterien"/>
<output wsam:Action="http://webservice/TTTwebservice/sucheVeranstaltungNachKriterienResponse" message="tns:sucheVeranstaltungNachKriterienResponse"/>
</operation>
<operation name="getAlleFreieKartenNachKategorie">
<input wsam:Action="http://webservice/TTTwebservice/getAlleFreieKartenNachKategorieRequest" message="tns:getAlleFreieKartenNachKategorie"/>
<output wsam:Action="http://webservice/TTTwebservice/getAlleFreieKartenNachKategorieResponse" message="tns:getAlleFreieKartenNachKategorieResponse"/>
</operation>
<operation name="getKategorieInfoVonVeranstaltung">
<input wsam:Action="http://webservice/TTTwebservice/getKategorieInfoVonVeranstaltungRequest" message="tns:getKategorieInfoVonVeranstaltung"/>
<output wsam:Action="http://webservice/TTTwebservice/getKategorieInfoVonVeranstaltungResponse" message="tns:getKategorieInfoVonVeranstaltungResponse"/>
</operation>
<operation name="verkaufSpeichern">
<input wsam:Action="http://webservice/TTTwebservice/verkaufSpeichernRequest" message="tns:verkaufSpeichern"/>
<output wsam:Action="http://webservice/TTTwebservice/verkaufSpeichernResponse" message="tns:verkaufSpeichernResponse"/>
</operation>
<operation name="getKategorieInfo">
<input wsam:Action="http://webservice/TTTwebservice/getKategorieInfoRequest" message="tns:getKategorieInfo"/>
<output wsam:Action="http://webservice/TTTwebservice/getKategorieInfoResponse" message="tns:getKategorieInfoResponse"/>
</operation>
<operation name="getVeranstaltungById">
<input wsam:Action="http://webservice/TTTwebservice/getVeranstaltungByIdRequest" message="tns:getVeranstaltungById"/>
<output wsam:Action="http://webservice/TTTwebservice/getVeranstaltungByIdResponse" message="tns:getVeranstaltungByIdResponse"/>
</operation>
</portType>
<binding name="TTTwebservicePortBinding" type="tns:TTTwebservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sucheVeranstaltungNachKriterien">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAlleFreieKartenNachKategorie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getKategorieInfoVonVeranstaltung">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verkaufSpeichern">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getKategorieInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVeranstaltungById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebserviceTTTService">
<port name="TTTwebservicePort" binding="tns:TTTwebservicePortBinding">
<soap:address location="http://localhost:8080/WebserviceTTTService/TTTwebservice"/>
</port>
</service>
</definitions>